html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  display: flex;
  font-size: 10px;
  background-image: url("../../assets/images/background.png");
  background-size: cover;
  background-position:fixed;
  background-repeat: no-repeat;
}
.container{
  width: 130rem;
  margin: 0 auto;
  overflow: hidden;
}