@import url('https://fonts.googleapis.com/css2?family=Domine:wght@400;600;700&display=swap');
$color100: #fff4e9;
$font-family:'Domine', serif;
/*
@mixin fontHeader($property) {
  font-family: $font-header;
  font-weight: 600;
  font-size: 1.25rem;
  color: $property;
  line-height: normal;
}
}*/