@import url('https://fonts.googleapis.com/css2?family=Domine:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:wght@100;300;400;500;600;700&display=swap');
$font-family-ru: 'IBM Plex Serif', serif;
$font-family:'Domine', serif;
$light-grey: #7c8a9e;
$grey:#626a86;
$dark-grey:#555e7c;
$orange: #fc931d;
$red: #c71835;
$dark-blue:#0e1538;
$dark: #040a29;
$light: #f0f8ff;
$light-red:#ffffff13;

@mixin colorBtn($property) {
  border: 2px solid $property;
  color: #fff;
  box-shadow: 0 0 40px 40px $property inset, 0 0 0 0 $property;
  transition: all 150ms ease-in-out;
}

@mixin colorBtnHover($property) {
  color: $property;
  opacity: 1;
  box-shadow: 0 0px 15px 1px $property inset, 0 0 1px 0px $property;
}

@mixin primeBtn($width,$height) {
  box-sizing: border-box;
  appearance: none;
  background-color: transparent;
  cursor: pointer;
  font-size: 1.6rem;
  line-height: 1;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-family: $font-family;
  font-weight: 700;
  width: $width;
  height: $height;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
}